<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Spring Shop</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">
                            Acasa
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">
                            Coș de produse
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comenzi">
                            Comenzi
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h1 th:text="${message}"></h1>
            Welcome <span sec:authentication="principal.username">User</span>
            <div class="row">


                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title"> Pastrav eviscerat, +/- 1 kg</h5>
                            <p class="card-text">Pastrav eviscerat, +/- 1 kg iti va rasfata simturile cu o aroma proaspata si imbietoare.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary add-to-cart-btn" data-product-name="Pastrav eviscerat" data-product-price="33.90">Adaugă în coș</button>
                                </div>
                                <small class="text-muted">Preț: 33.90 lei</small>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">Mascarpone</h5>
                            <p class="card-text">Mascarpone este o brânză proaspătă cu smântână dublă, cu o grăsime neobișnuit de mare, respectiv de 80%.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary add-to-cart-btn" data-product-name="Mascarpone" data-product-price="65.74">Adaugă în coș</button>
                                </div>
                                <small class="text-muted">Preț: 65.74 lei</small>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">Detergent</h5>
                            <p class="card-text">Detergent lichid Dero + capsule, miros de levantica. </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary add-to-cart-btn" data-product-name="Detergent" data-product-price="56.90">Adaugă în coș</button>
                                </div>
                                <small class="text-muted">Preț: 56.90 lei</small>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">Tchibo Exclusive</h5>
                            <p class="card-text">Cafea Tchibo Exclusive, 250 g Pentru a crea un gust unic.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary add-to-cart-btn" data-product-name="Tchibo Exclusive" data-product-price="75.99">Adaugă în coș</button>
                                </div>
                                <small class="text-muted">Preț: 75.99 lei</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">Zahar</h5>
                            <p class="card-text">Zahar alb cristal 1kg, marele clasic al gamei Margaritar.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary add-to-cart-btn" data-product-name="Zahar" data-product-price="5.99">Adaugă în coș</button>
                                </div>
                                <small class="text-muted">Preț: 5.99 lei</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">Croissant</h5>
                            <p class="card-text">Croissant cu crema de vanielie Boromir. Aromat, pufos si delicos.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary add-to-cart-btn" data-product-name="Croissant" data-product-price="1.99">Adaugă în coș</button>
                                </div>
                                <small class="text-muted">Preț: 1.99 lei</small>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Adaugă un eveniment de clic pentru fiecare buton "Adaugă în coș"
        document.querySelectorAll('.add-to-cart-btn').forEach(function (button) {
            button.addEventListener('click', function () {
                var productName = this.getAttribute('data-product-name');
                var productPrice = parseFloat(this.getAttribute('data-product-price'));
                addToCart(productName, productPrice);
            });
        });
    });

    function addToCart(productName, productPrice) {
        var storedItems = JSON.parse(localStorage.getItem('cartItems')) || [];
        storedItems.push({ productName: productName, productPrice: productPrice });
        localStorage.setItem('cartItems', JSON.stringify(storedItems));
        alert("Produsul a fost adăugat în coș!");
    }
</script>
</body>
</html>
