<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Spring Shop</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">


                <img th:src="@{/images/logo.png}" alt="Logo" class="img-fluid mb-1" style="max-width: 70px; max-height: 70px;">



                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Cos de produse
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h1 th:text="${message}"></h1>

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" th:src="@{/images/img1.jpg}" alt="Produs 1">
                        <div class="card-body">
                            <h5 class="card-title"> Pastrav eviscerat, +/- 1 kg</h5>
                            <p class="card-text">Pastrav eviscerat, +/- 1 kg iti va rasfata simturile cu o aroma proaspata si imbietoare.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalii</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Adaugă în coș</button>
                                </div>
                                <small class="text-muted">Preț: 33.90 lei</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" th:src="@{/images/img2.jpg}" alt="Produs 1">
                        <div class="card-body">
                            <h5 class="card-title">Mascarpone</h5>
                            <p class="card-text">Mascarpone este o brânză proaspătă cu smântână dublă, cu o grăsime neobișnuit de mare, respectiv de 80%.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalii</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Adaugă în coș</button>
                                </div>
                                <small class="text-muted">Preț: 65,74 lei</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" th:src="@{/images/img3.jpg}" alt="Produs 1">
                        <div class="card-body">
                            <h5 class="card-title">Detergent</h5>
                            <p class="card-text">Detergent lichid Dero + capsule, miros de levantica.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalii</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Adaugă în coș</button>
                                </div>
                                <small class="text-muted">Preț: $19.99</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" th:src="@{/images/img4.jpg}" alt="Produs 1">
                        <div class="card-body">
                            <h5 class="card-title">Tchibo Exclusive</h5>
                            <p class="card-text">Cafea Tchibo Exclusive, 250 g Pentru a crea un gust unic.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalii</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Adaugă în coș</button>
                                </div>
                                <small class="text-muted">Preț: 75,99 lei</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" th:src="@{/images/img5.jpg}" alt="Produs 1">
                        <div class="card-body">
                            <h5 class="card-title">Zahar</h5>
                            <p class="card-text">Zahar alb cristal 1kg, marele clasic al gamei Margaritar.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalii</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Adaugă în coș</button>
                                </div>
                                <small class="text-muted">Preț: 5,00 lei</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" th:src="@{/images/img6.jpg}" alt="Produs 1">
                        <div class="card-body">
                            <h5 class="card-title">Croissant</h5>
                            <p class="card-text">Croissant cu crema de vanielie Boromir. Aromat, pufos si delicos. </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalii</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Adaugă în coș</button>
                                </div>
                                <small class="text-muted">Preț: 1,99 lei</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
